# Backend
# replace when 0.10.0 (or upper) is released
https://github.com/Refty/thingy/archive/bb8565a25a428b1d607aa65111552fb3e12f2a12.zip

# replace when 0.16.0 (or upper) is released
https://github.com/Refty/mongo-thingy/archive/0ca7d40081e08e7312d456747d642e75c65eff2c.zip

fastapi==0.75.2
python-multipart==0.0.5
uvicorn==0.17.6
python-dotenv==0.10.3
motor==3.1.1

# Crispy
ffmpeg-python==0.2.0
Pillow==9.4.0
