# Backend
fastapi==0.75.2
python-multipart==0.0.5
uvicorn==0.17.6
python-dotenv==0.10.3

# Crispy
numpy==1.21.0 # crdaignore
# librosa==0.9.1
moviepy==1.0.3
IPython==7.13.0
progressbar2==4.0.0
ffmpeg-python==0.2.0
pydub==0.25.1
scipy==1.8.0

# Tests
pytube==12.1.0
